@charset "utf-8";
/* CSS Document */
body{

	font:12px/1.5  "Microsoft YaHei","微软雅黑","SimSun","宋体";
	color:#333;
}
/* 文本框样式 Text Css*/
.textcsss,.textcss1,.textcss2,.textcss3,
.textsign,
.textarea1,.textarea2,.textarea3{
	width:200px;
	height:25px;
	padding:0 5px;
	border:solid 1px #ccc;
	border-radius:2px;
	font-size:14px;
	line-height:25px;
}
.textcsss{width:50px; text-align:center;}

.textcss1{width:180px;}
.textcss2{width:250px;}
.textcss3{width:300px;}

select.textcss1,select.textcss2,select.textcss3{height:27px; padding:2px;}
select.textcss1{width:212px;}
select.textcss2{width:262px;}
select.textcss3{width:312px;}

.textsign{
	width:180px;
	border:none;
	border-radius:0;
	background:#ccc;
}


.textarea1,.textarea2,.textarea3{margin:0; padding:5px;}
.textarea1{width:95%; height:90px; line-height:30px;}
.textarea2{width:420px; height:60px;}/*wen edit*/
.textarea3{width:700px; height:90px;}

.textcsss:focus,.textcss1:focus,.textcss2:focus,.textcss3:focus,.textcss5:focus,
.textarea1:focus,.textarea2:focus,.textarea3:focus{
	border-color:#00647b;
	box-shadow:0 0 3px #33bbd9;
}
.textsign:focus{background:white;}

.texterror{
	border-color:red;
	box-shadow:0 0 3px red;
}
/* End */


/*按钮样式 Button Css*/
.btnupload1,.btnupload2,
.btndown1,.btndown2,.btndown3,
.btnlike1,
.btnsay1,.btnsay2,
.btncss1,.btncss2,.btncss3,.btnbig1,.btnbig2,
.btncss4,.btncss5,.btnlong1,.btnlong2,.btnlong3,.btnlong-small-white{
	vertical-align:middle;
	border:none;
	background:url(../images/buttons-bg.png?v=1) no-repeat;
	font:14px/100% "微软雅黑","黑体","宋体";
	color:white;
	text-shadow:0 -1px 1px #333;
	cursor:pointer;
	text-align:center;
}
.btnupload1{
	width:130px;
	height:30px;
	background-position:0 0;
}
.btnupload1:hover{background-position:-130px 0;}
.btnupload1:active{background-position:-260px 0;}
.btnupload2{
    width: 40px;
    height:30px;
    background-position: -390px 0;
}
.btnupload2:hover{background-position:-430px 0;}
.btnupload2:active{background-position:-470px 0;}
.btndown1,
.btnlike1{
	width:86px;
	height:28px;
	padding:0 0 5px 0;
	background-position:-240px -30px;
	font-size:14px;
	line-height:25px;
	text-shadow:0 -1px 1px #c07700;
}
.btndown2{
	width:250px;
	height:40px;
	background-position:0 -145px;
	margin-bottom:10px;
	font-size:20px;
	line-height:40px;
    text-shadow:0 -1px 1px #c07700;
}
.btndown2 .iconfont{font-size: 20px;}
.btndown3{
	width:150px;
	height:45px;
	line-height:45px;
}
.btnlike1{
    background-position: -412px -30px;
    text-shadow:0 -1px 1px #fff;
    color: #666;
}

.btndown1:hover{background-position:-326px -30px;}
.btnlike1:hover{background-position:-498px -30px;}
.btndown2:hover{background-position:-250px -145px;}


.btndown1:active{text-shadow:0 1px 1px #c07700;}
.btndown2:active{text-shadow:0 1px 1px #333;}


.btnsay1,
.btnsay2{
	width:100px;
	height:25px;
	padding-left:25px;
	background-position:0 -90px;
	font-family:"宋体";
	font-size:12px;
	color:#333;
	line-height:25px;
	text-shadow:none;
}
.btnsay1:hover{color:#146c88;}
.btnsay1:active{background-position:-100px -90px;}

.btnsay2{width:80px; background-position:-200px -90px;}
.btnsay2:hover{color:#146c88;}
.btnsay2:active{background-position:-280px -90px;}

.btncss1,.btncss2{
	width:80px;
	height:30px;
	line-height:30px;
}
.btncss1{background-position:0 -30px; color:white;}
.btncss1:hover{background-position:-80px -30px;}
.btncss1:active{background-position:-160px -30px;}

.btncss2{
	background-position:0 -60px;
	color:#333;
	text-shadow:0 1px 1px #fff;
}
.btncss2:hover{background-position:-80px -60px;}
.btncss2:active{background-position:-160px -60px;}

.btncss3,
.btncss4{
    width: 80px;
    height: 27px;
    line-height: 27px;
}
.btncss3{background-position: -240px -60px; color: white;}
.btncss3:hover{background-position: -320px -60px;}
.btncss3:active{background-position: -400px -60px;}
.btncss4{background-position: -240px -87px; color: #333;}
.btncss4:hover{background-position: -320px -87px;}
.btncss4:active{background-position: -400px -87px;}


.btnbig1,.btnbig2,.btnbig3{
    width: 150px;
    height: 45px;
    color: white;
    font-size: 16px;
}
.btnbig1{background-position: 0 -185px;}
.btnbig1:hover{background-position: -150px -185px;}
.btnbig1:active{background-position: -300px -185px;}

.btnbig2,
.btnbig3{
    background-position: 0 -230px;
    color: #ccc;
    text-shadow: none;
    cursor: default;
}
.btnbig3{
    margin-left: 10px;
    color: #666;
    cursor: pointer;
}
.btnbig3:hover{background-position: -150px -230px; color: #333;}

.btnlong1,.btnlong2,.btnlong3{
    width: 154px;
    height: 30px;
    color: white;
}
.btnlong1{background-position: 0 -275px;}
.btnlong1:hover{background-position: -154px -275px;}
.btnlong1:active{background-position: -308px -275px;}

.btnlong2{background-position: 0 -305px;}
.btnlong2:hover{background-position: -154px -305px;}
.btnlong2:active{background-position: -308px -305px;}

.btnlong3{background-position: 0 -335px; color: #666;}
.btnlong3:hover{background-position: -154px -335px;}
.btnlong3:active{background-position: -308px -335px;}

.btnlong-small-white{
    width: 104px;
    height: 30px;
    background-position: 0 -365px;
    color:#333;
    text-shadow:0 1px 1px #fff;
}
.btnlong-small-white:hover{background-position: -104px -365px;}
.btnlong-small-white:active{background-position: -208px -365px;}


/* End */


/* 表单提示文字 */
.formtip1{padding:0 10px; color:#999;}
.formtip2,
.formtip3{margin:0 10px; vertical-align:middle;}
.formtip4{padding:0 4px; vertical-align:middle;}
.password-safety{vertical-align:text-top; margin-right:10px;}

/* 模拟单选复选框 */
.analog-check{display: inline;}
.analog-check b,
.analog-users b,
.analog-radio b{
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url(../images/analog-check.png) no-repeat;
    vertical-align: middle;
}
.analog-radio b{vertical-align: middle;}
.analog-check b input,
.analog-users b input,
.analog-radio b input{
    position: absolute;
    z-index: 2;
    margin: 0;
    opacity: 0;
    filter:alpha(opacity=0);
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.analog-check b{background-position: 0 0;}
.analog-check b:hover{background-position: 0 -16px;}
.analog-check b.check{background-position: 0 -32px;}
.analog-check b.disable{background-position: 0 -48px;}
.analog-check b.check-disable{background-position: 0 -64px;}

.analog-users b{background-position: -32px 0;}

.analog-users b.check{background-position: -32px -16px;}
.analog-radio b{background-position: -16px 0;}
.analog-radio b:hover{background-position: -16px -16px;}
.analog-radio b.check{background-position: -16px -32px;}
.analog-radio b.disable{background-position: -16px -48px;}
.analog-radio b.check-disable{background-position: -16px -64px;}
/* END 模拟 */


	.password-safety{
    float: left;
    margin-right:10px;
    padding: 5px 0 0;
    height: 12px;
}
.password-safety td{
    height: 12px;
    padding: 0;
    border: solid 3px #fff;
    background: #f60;
}
.password-safety td.tdnone{background: #ccc;}

.btncsswx{
  width: 154px;
  height: 30px;
  line-height: 30px;
  
  vertical-align: middle;

  border: none;
  background: url(/assets/images/buttons-login.png) no-repeat;
    background-position: 0px -30px;
  font: 14px/100% "微软雅黑","黑体","宋体";
  color: white;
  text-shadow: 0 -1px 1px #333;
  cursor: pointer;
  text-align: center;
}
.btncsswx:hover{
	  background-position: -154px -30px;
}

.btncssdoc88{
  width: 154px;
  height: 30px;
  line-height: 30px;
  
  vertical-align: middle;
  border: none;
  background: url(/assets/images/buttons-login.png) no-repeat;
  font: 14px/100% "微软雅黑","黑体","宋体";
  color: white;
  text-shadow: 0 -1px 1px #333;
  cursor: pointer;
  text-align: center;
}
.btncssdoc88:hover{
	  background-position: -154px 0px;
}

