@charset "utf-8";
/* CSS Document */

a{color:#146c88;}

/* 阅读页面顶部操作中的样式 Top Shop Css */
.readshop{
	position:relative;
	z-index:1;
	height:35px;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #ccc;
	background:#eee;
    box-shadow:0 1px 3px rgba(0,0,0,0.1);
}
/* End */
.readshop .shop1,
.readshop .shop2,
.readshop .shop3{
	float:left;
	height:35px;
	border-right:solid 1px #ccc;
	padding:0 5px;
	position: relative;
	z-index: 1;
}
.readshop li{float:left; padding: 3px 5px 0;}
.readshop li a{
    display: block;
    height:26px;
    padding: 0 5px;
    border: solid 1px #eee;
    border-radius: 3px;
    background: #eee;
    line-height:26px;
    color:#333;
    text-decoration: none;
}
.readshop li a:hover{
    border-color: #ccc;
    background: #f9f9f9;
    color:#33bbd9;
}
.readshop li.disable a,
.readshop li.disable a:hover{
    color: #999;
    border-color: #eee;
    background: #eee;
    cursor: default;
}

.readshop .shop1{padding-left:0;}
.readshop .shop1 li.nobg{padding: 3px 10px 0 0;}

.readshop .shop3 li.text{
    padding: 5px 5px 0;
    font-size: 14px;
    line-height:24px;
}
.readshop .shop3 li.text input{
	width:34px;
	height:22px;
    margin: 0;
    padding: 0;
	border:solid 1px #ccc;
	background:white;
    line-height: 22px;
	text-align:center;
	font-size:14px;
	vertical-align:top;
	 font-family: "微软雅黑","黑体","宋体"; 
}
.readshop .shop3 li.text input:focus{border-color:#f39800;}

.readshop .shop4{
    float:right;
    height: 35px;
    padding: 0 0 0 5px;
}
.readshop .share{border-right:solid 1px #ccc; padding: 0 8px 0 0;}
.readshop .share li{padding: 3px 1px 0;}


/* End */

/* 文章标题以及内容 */
.doctopic{position:relative; overflow:auto;}
.doctopic h1{
	float:left;
	padding:6px;
	font:16px/24px "微软雅黑";
	color:#666;
}
.doctopic h1 img{
	float:left;
	width:24px;
	height:24px;
	margin:0 10px 0 0;
}
.doctopic .score{
    float: right;
    margin: 10px 50px 0 0;
}
.doctopic .starlevel{
	padding:10px 0 0;
}
.docoutline{
	display:none;
	position:relative;
	clear:left;
	padding:10px;
	border-top:dotted 1px #ccc;
	line-height:2;
	color:#666;
}
.docoutline .outline{text-indent:2em;}
.docoutline .attribute{padding:10px 0 0; color:#999;}
.docoutline .attribute span{padding:0 10px;}

.doctopic .switch1{
	position:absolute;
	z-index:1;
	right:5px;
	top:8px;
	width:24px;
	height:24px;
	cursor:pointer!important;
}
.doctopic .switch1{background:url(../images/icons/slideDown.png) no-repeat center;}
.doctopic .switch2{background:url(../images/icons/slideUp.png) no-repeat center;}

.document{
	margin:0 auto;
	width:650px;
	padding:20px;
	font-size:14px;
	line-height:2;
	color:#666;
	text-indent:2em;
}

/* 缩略图模式 */
.smallimg{overflow:hidden;display:none}
.imgtxt07 li{
	position:relative;
	float:left;
	background-color:white;
	box-shadow:0 1px 5px rgba(0,0,0,0.3);
	width:160px;
	overflow:hidden;
}
.thumb_selected{border:solid 1px #f39800;}
.thumb_normal{border:solid 1px #ccc;}
.imgtxt07 em{
	display:block;
	position:absolute;
	right:1px;
	bottom:1px;
	border-top-left-radius:5px;
	background:rgba(0,0,0,0.5);
	padding:2px 5px;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	font-style:normal;
	font-size:12px;
}
.imgtxt07 .thumb_over{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:rgba(116,168,232,0.5);
	
}
.imgtxt07 .thumb_out{
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.it07w988 li,
.it07w988 li img{}

.it07w1020 li,
.it07w1020 li img{}

.it07w1220 li,
.it07w1220 li img{}





/*4-19 reading download search*/
.surplus{
	text-align: center;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 15px 0;
	font-size: 14px;
}
.surplus .art-like{
	width: 73px;
	height: 73px;
	background: url(../images/surplus.png) no-repeat -3px -132px;
	margin: 5px auto 15px;
	cursor: pointer;
	position: relative;
}
.art-like .success-like{
	position: absolute;
	top: -40px;
	left: -15px;
	width: 100px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	background: url(../images/surplus.png) no-repeat 0 -249px;
	color: #fff;
	border-radius: 4px;
	opacity: 0;
	filter:alpha(opacity=0);
}
.art-like .like-num{
	color: #fff;
	padding-top: 48px;
}
.surplus .art-like:hover{
	background-position: -83px -132px;
}
.surplus .art-like.cur{
	background-position: -165px -132px;
}
.surplus p{
	font-size: 18px;
}
.surplus .share{
	font-size: 12px;
	color: #999;
}
.surplus .share a{
	text-decoration: none;
}
.surplus .share i{
	font-size: 14px;
	cursor: pointer;
	margin-left: 6px;
}
.surplus .share i.wx{
	color: #4ccd4c;
}
.surplus .share i.qq{
	color: #ffb100;
}
.surplus .share i.ad{
	color: #58abe8;
}
.surplus .uploader,
.surplus .uploader2{
	font-size: 12px;
	color: #999;
	line-height: 20px;
}
.surplus .uploader2{
	margin-top: 4px;
}
.surplus .uploader i{
	font-size: 14px;
}
.surplus-operate{
	margin: 13px auto;
}
.surplus-btn{
	width: 162px;
	height: 36px;
	line-height: 36px;
	background: url(../images/surplus.png) no-repeat 0 -293px;
	margin-left: 120px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	position: relative;
	*zoom: 1;
	*display: inline;
}
.surplus-btn:hover{
	background-position: 0 -340px;
}
.surplus-btn-mid{
	width: 134px;
	height: 36px;
	line-height: 36px;
	background: url(../images/surplus.png) no-repeat 0 -87px;
	margin-left: 205px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	position: relative;
}
.surplus-btn-mid:hover{
	background-position: -144px -87px;
}

.surplus-btn .more {
	position: absolute;
	color: #b5b5b5;
	top: 33px;
	right: 68px;
}
.surplus-btn .more:hover{
	color: #9494a2;
}
.surplus-btn img{
	height: 34px;
	float: left;
	margin: 1px;
}
.surplus-down{
	color: #55afee;
	margin-left: 10px;
}

.min-search-form{
	width: 168px;
	height: 26px;
	background: url(../images/surplus.png) no-repeat 0 0;
	padding: 1px;
	margin-top: 3px;
}
.min-search-form.focus{
	background-position: 0 -214px;
}
.min-search-form .min-text input{
	border: none;
	padding: 0 6px;
	height: 26px;
	line-height: 25px;
	width: 130px;
	background-color: transparent;
	outline: none;
	font-family: arial,"Microsoft Yahei","微软雅黑";
}
.min-search-form .min-btn{
	display: inline-block;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	color: #b0b0b0;
	cursor: pointer;
	float: right;
}
.min-search-form .min-btn:hover{
	color: #d2d2d2;
}
.min-btn img{
	margin-top: 5px;
}
.min-search-result{
	width: 168px;
	line-height: 29px;
	padding: 0 6px;
	border: 1px solid #ccc;
	background: #eee;
	opacity: .95;
	position: absolute;
	top: 35px;
	left: -1px;
	border-top: none;
}

.min-result-next,
.min-result-pre{
	display: block;
	width: 26px;
	height: 20px;
	float: right;
	margin: 5px 0 0 -1px;
	cursor: pointer;
}
.min-result-next{
	background: url(../images/surplus.png) no-repeat 0 -35px;	
}
.min-result-next:hover{
	background-position: -110px -35px;
	position: relative;
	z-index: 1;
}
.min-result-next:active{
	background-position: 0 -57px;
}
.min-result-pre{
	background: url(../images/surplus.png) no-repeat -44px -35px;
}
.min-result-pre:hover{
	background-position: -154px -35px;
	position: relative;
	z-index: 1;
}
.min-result-pre:active{
	background-position: -44px -57px;
}
.min-result-close{
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/surplus.png) no-repeat -80px -35px;
	float: right;
	margin: 5px -1px 0 5px;
	cursor: pointer;
}
.min-result-close:hover{
	background-position: -80px -57px;
}

.search-doc{
	display: block;
	border-top: 1px solid #ccc;
	margin: 4px -6px 0;
}
a.search-doc-link{
	display: block;
	width: 142px;
	height: 24px;
	line-height: 24px;
	background: url(../images/surplus.png) no-repeat 0 -387px;
	color: #333;
	margin: 6px 0;
	padding-left: 5px;
	float: right;
	text-decoration: none;
}
a.search-doc-link:hover{
	background-position: 0 -415px;
}
a.search-doc-link:active{
	background-position: 0 -443px;
}

a.art-next{
	display: block;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 15px 0;
	text-align: center;
	font-size: 16px;
	color: #333;
}


/*任务试读*/
.unpaid{
    /*width: 986px;*/
    margin: 0 auto;
    border: 1px solid #ccc;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
}
.unpaid p{
    font-size: 18px;
}
a.unpaid-look{
    display: block;
    padding: 8px 0;
    width: 116px;
    background: #1AA1E6;
    margin: 15px auto;
    color: #fff;
    text-decoration: none;
}
.unpaid-look:hover{
    background: #00B0FF;
}
.unpaid-search{
    color: #00a1e9;
}
.unpaid-vip{
    display: block;
    width: 300px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 20px auto 0;
    color: #666;
    text-decoration: none;
}
        .orange{
            color: #ff4d00;
        }
        .blue{
            color: #53baef;
        }
        .bj-notE{
            padding: 0 10px;
            position: relative;
            color: #333;
            font-size: 16px;  
			padding-bottom:6px;   
			
        }
        .bj-notE a{
            text-decoration: none;
        }
        .bj-notE p{
            font-size: 12px;
            line-height: 30px;
            margin-bottom: 8px;
        }  
		.bj-notE .bj-tips{
           padding-left:10px;
        }
        .bj-notE .bj-tips li{
            list-style: none;
            line-height: 27px;
        }
        .bj-scan-code{
            position: absolute;
            bottom: -10px;
            right: 0;
            /*display: table-cell;*/
            display: none;
        }
        .bj-scan-code img{
            width: 60px;
            height: 60px;
            vertical-align: middle;
            margin-left: 10px;
        }
        .bj-notE .btn-down{
            background: #f60;
            border: 1px solid #f27c00;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            padding: 10px 14px;
            font-family: arial,"Microsoft Yahei","微软雅黑";
        }
        .bj-notE .btn-cllect{
            background: #fcdfb1;
            border: 1px solid #f6af41;
            border-radius: 4px;
            color: #f60;
            cursor: pointer;
            font-size: 14px;
            padding: 10px 14px;
            font-family: arial,"Microsoft Yahei","微软雅黑";  
			margin-left:10px;
        }
        .phone-down{
            position: relative;
        }
        .phone-down i{
            font-size: 22px;
            cursor: pointer;
            float: right;
            line-height: 42px;
        }
/* End*/